.header {
    padding-bottom: 30px;
    display: flex;
    border-bottom: 1px solid #545454;
    width: 880px;
    height: 75px;
    margin: 45px 200px 0;
}

@media screen and (max-width: 700px) {
    .header {
        width: 100%;
        height: auto;
    }

     .header__logo {
        padding-left: 27px;
        height: auto;
        max-width: 126px;
     }
}

@media screen and (min-width: 701px) and (max-width: 899px) {
 .header {
    width: 100%;
 }
 .header__logo {
    padding-left: 45px; 
        height: auto;
 }
}

